<a href="https://colab.research.google.com/github/Shahnawazc/DataSciecne-Pandas-/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd

In [33]:
#Export tsv files
df=pd.read_csv("/content/gapminder.tsv" , sep='\t')

In [34]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [35]:
#Creating dataframe
df1=pd.DataFrame({'month':[1,4,7,10],
                  'year':[2012,2014,2013,2014],
                  'sale' :[55,40,84,31]})

In [36]:
df1

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [37]:
#Export dataframe 
df.to_excel("sales.xlsx")

In [38]:
#df to csv
df.to_csv('df.tsv')

In [39]:
df1.shape

(4, 3)

In [40]:
#geeting shape 
df.shape

(1704, 6)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [42]:
    #creating data frame 
    weather_data= pd.DataFrame({'Newyork':['30'],'Calgary':['22'],'paris':['45']})

In [43]:
weather_data

  Newyork Calgary paris
0      30      22    45

In [44]:
#convert to json 
weather_data= weather_data.to_json()

In [45]:
print(weather_data)

{"Newyork":{"0":"30"},"Calgary":{"0":"22"},"paris":{"0":"45"}}